.backgroundArea {
    height: 100vh;
    width: 100%;
    background-image: url('../../images/login/login-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* opacity: 0.7; */
}

.contentArea {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-area {
    height: 85vh;
    width: 80%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.login-banner .img-area img {
    width: 100%;
    height: 85vh;
    border-radius: 20px 0 0 20px;
}

input,select {
    padding: 3px 15px;
    border-radius: 20px;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    font-weight: 600;
    transition: 0.5s;
}
input:hover{
    border: 2px solid blue; 
}
input:focus {
    outline: none !important;
    border: 2px solid red;
    /* box-shadow: 2px 2px 2px 2px gray; */
    background-color: rgba(255, 255, 255);
    color: red;
}

.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.login-content img {
    height: 40px;
    width: 40px;
}

.login-button {
    background-image: linear-gradient(90deg, aqua, blue);
    border-radius: 20px;
    padding: 5px 30px;
    color: black;
    transition: 0.5s;
    border: 2px solid blue;
}

.login-button:hover {
    /* background-image: linear-gradient(45deg, blue, aqua); */
    color: white;
    border: 2px solid white;
}

.reg-link {
    color: black;
    text-decoration: underline;
    transition: 0.5s;
}

.reg-link:hover {
    color: blue;
    text-decoration: underline;
}

.error {
    color: red;  
}